<!DOCTYPE html>
<head>
    <title>로그인 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <div id="content">
        <div class="con_tit">
	        {% comment %} <iframe width="640" height="180" src="/static/image/w_logo.png" frameborder="0" allowfullscreen =""></iframe> {% endcomment %}
        </div>
        <div class="con_tit">
            <h3>로그인</h3>
        </div>
        <form action="." method="post" class="sm_wrap">

            {% csrf_token %}

            <h1>아이디와 패스워드를 입력해주세요.</h1>

            <fieldset class="aligned">
                <ul>
                    <li>{{ form.username.label_tag }}</li>
                    <li>{{ form.username }}</li>
                </ul>

                <ul>
                    <li>{{ form.password.label_tag }}</li>
                    <li>{{ form.password }}</li>
                </ul>
            </fieldset>

            <div class="one_btn pb10">
                <div class="one_red"><button type="submit">로그인</button></div>
            </div>
            <div class="one_btn">
                <div class="one_gray"><a href="{% url 'register' %}">회원가입</a></div>
            </div>

        </form>
    </div>
</body>

