<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4-single-file-component</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div>
        <a href="{% url 'streaming:main'%}">main 으로 넘어가기</a>

    </div>

    <div class="heading">
        {% load static %}
        <img src="{% static 'images/logo.png'%}" width="5%" height="5%">
    </div>
    
    <div id="app"></div>
    {% load static %}
    <script src="{% static 'js/streaming/build.js'%}"></script>
</body>
</html>
