<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <div id=app>
        {% load static %}

        <!-- <srcipt scr="{% static 'js/sing-app/app.3a227d38.js'%}"></srcipt>
        <srcipt scr="{% static 'js/sing-app/chunk-vendors.32c634c1.js'%}"></srcipt>
        <script src="{% static 'css/app.70347e42.css'%}"></script>
        <script src="{% static 'css/chunk-vendors.a8ed7332.css'%}"></script> -->
        <!-- <script src="{% static 'js/trello/build.js'%}"></script> -->

        <!-- <script src="{% static 'js/todo/build.js'%}"></script>  -->        
        <!-- <srcipt scr="{% static 'js/soundcloud/js/app.0c83980c46d419978a63.js'%}"></srcipt>
        <srcipt scr="{% static 'js/soundcloud/js/manifest.2ae2e69a05c33dfc65f8.js'%}"></srcipt>
        <srcipt scr="{% static 'js/soundcloud/js/vendor.aebcd74ca64ea5057676.js'%}"></srcipt>
        <srcipt scr="{% static 'js/soundclo1ud/css/app.01242e30cbf22bd08db7a6435e3de8c6.css'%}"></srcipt> -->

        <!-- theme -->
        <script src="{% static 'js/theme/build.js'%}"></script>

    </div>

    <div>
        검색
    </div>

</body>
</html>

